<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>NumberGuess</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>NumberGuessServlet</display-name>
    <servlet-name>NumberGuessServlet</servlet-name>
    <servlet-class>beans.NumberGuessServlet</servlet-class>
    <init-param>
      <description></description>
      <param-name>render</param-name>
      <param-value>/jsp/guessServlet.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>render2</param-name>
      <param-value>/jsp/success.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>render3</param-name>
      <param-value>/jsp/guessBig.jsp</param-value>
    </init-param>
    <init-param>
      <description></description>
      <param-name>render4</param-name>
      <param-value>/jsp/guesLess.jsp</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>NumberGuessServlet</servlet-name>
    <url-pattern>/beans/NumberGuessServlet</url-pattern>
  </servlet-mapping>
</web-app>